:root{
    --background:linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    
    --text-colo:#FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  background-color: #1A0B2E;
  
}

.navber{
    width: 1000px;
    margin: 0 auto;
    /* position: fixed; */

}
.navber-topic{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

.list-item ul{
    display: flex;
    gap: 40px;
}
ul li{
    list-style: none;

}


.bar{
    display: none;
}
.navber-item{
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}
span{
    font-size: 3rem;
    font-weight: 700;
    background: var(--text-colo);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.title{
    font-size: 3rem;
    font-weight: 700;
    background: var(--background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.btn-1{
    padding: 10px 25px;
    border: none;
    background: var(--background);

    border-radius: 22px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-colo);
    cursor: pointer;
    transition: 0.3s;
}
.btn-1:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
    border: #c9c6ce;

}


/* section-benner */
.benner{
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-image: url('assets/hero-bg.png');
    /* background-size: cover; */
    background-position: center;
    background-size: contain;
    
    
}
.text-container{
    width: 100%;
    position: relative;  
}
.new{
    padding: 4px 18px;
    border-radius: 20px;
    background-color: #00FF88;
    position: absolute;
    right: 42%;
}

.microphone{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('assets/hero-circle.png');
    background-size: cover;
    
}
.img-1{
    width: 90px;
    height: 100px;
}
.microphon-container .microphone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container .microphon-container{
    display: flex;
    justify-content: center;
    
}

.benner-text{
    text-align: center;
}
.text-title{
    font-size: 2.50rem;
    font-weight: 600;
    color: var(--text-colo);
    margin-top: 30px;
}
.title-discription{
    color: var(--text-colo);
    font-size: 0.90rem;
    font-weight: 400;
    margin-top: 10px;

}
.benner-btn{
    margin-top: 20px;
}
.benner-btn{
    text-align: center;
}
.btn-2{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 8px;
    border-radius: 20px;
    border: none;
    background: var(--background);
    margin-right: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.btn-2:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
    border: #c9c6ce;

}
.btn-3{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    text-align: center;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    cursor: pointer;
    transition: 0.3s;
}
.btn-3:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
    border: #c9c6ce;

}
main{
    width: 100%;
}
.about{
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.about{
    text-align: center;
}
.about-title{
    color: var(--text-colo);
    font-size: 2.50rem;
    font-weight: 700;

}
.about-discription{
    width: 700px;
    margin: 20px auto;
    color: var(--text-colo);
    font-size: 0.90rem;
    font-weight: 300;

}
.about-footer{
    color: var(--text-colo);
    font-size: 0.90rem;
    font-weight: 400;
}

.rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    padding: 30px;
    border-top: 1px solid #FFFFFF;
}
.namber>p{
    
    font-size: 3rem;
    font-weight: 700;
    background: var(--background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.namber>span{
    color: var(--text-colo);
    font-size: 0.90rem;
    font-weight: 300;
}
.grid{
    width: 1000px;
    
    margin:  70px auto;
    

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #1A0B2E;
    margin-bottom: 50px;

    gap: 10px;
    
}
.title-text{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.audio{
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 20px;
    padding: 30px 20px;
    border: 2px solid #2a2038;
    
    
}
.audio-box{
   margin-top: 60px;

}
.mobail-firndly{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #2a2038;
}
.global{
    grid-row: span 1;
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #2a2038;

}
.exclusiv{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #2a2038;
}
.resource{
    grid-column: span 1 ;
    grid-row: span 1;
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #2a2038;
    
    
}
.box-title{
    font-size: 1.50rem;
    font-weight: 700;
    color: var(--text-colo);
    margin-top: 10px;
}
.text-details{
    font-size: 0.80rem;
    font-weight: 300;
    color: var(--text-colo);
    margin-top: 10px;
}
section{
    background-color: #1A0B2E;
}

.featured{
    width: 1000px;
    margin: 100px auto;
    
}
.featured-title{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    
}

.video-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;

    
}
.video-contant{
    border: 2px solid #7f7a87;
    border-radius: 20px;
}
.iframe{
    border-radius: 20px 20px 0px 0px;
}
.video-title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-colo);
    padding:  0 20px;
}
.knowladge{
    font-size: 0.90rem;
    font-weight: 400;
    color: var(--text-colo);
    padding: 0 20px;

}
.time{
    padding: 0 20px;
    color: #00FF88;
}
.challange{
    width: 1000px;

    margin: auto;
    /* background-color: #00FF88; */
    

}
.host-contant{
    display: flex;
    gap: 30px;
    border: 2px solid #2a2038;
    margin-top: 20px;
    border-radius: 30px;
}
.host-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-colo);
    text-align: center;
}
.name{
    font-size: 1.50rem;
    font-weight: 500;
    color: var(--text-colo);
    padding-top: 20px;

}
.host{
    padding: 20px;
    
}
.intruduse{
    font-size: 0.90rem;
    font-weight: 300;
    color: var(--text-colo);
    padding-top: 20px;
    line-height: 30px;
}
.icon-container{
    display: flex;
    gap: 20px;
    padding-top: 10px;
}
.icon-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #2a2038;
    text-align: center;
    
    

}
footer{
    height: 100%;
    width: 100%;
}
.footer-container{
    width: 100%;
    background-image: url('assets/footer-bg.png');
    background-size: contain;
    background-position: center;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
span{
    font-size: 3rem;
    font-weight: 700;
    background: var(--text-colo);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.footer-logo{
    font-size: 3rem;
    font-weight: 700;
    background: var(--background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.copy{
    color: var(--text-colo);
    margin-top: 20px;
}



    






@media (max-width: 576px){
    header{
        width: 100%;
    background-color:#1A0B2E;

}
.navber{
    width: 100%;
   padding-left: 20px;


}
.list-item ul{
    display: none;
    
}
.btn-1{
display: none;
}
.bar{
    display: inline-block;
    color: var(--text-colo);
    cursor: pointer;
    padding-right: 20px;


    font-size: 2rem;
}

.text-container{
    width: 100%;

    
}
.new{
    padding: 4px 18px;
    border-radius: 20px;
    background-color: #00FF88;
    position: absolute;
    right: 22%;
}
.main{
    width: 100%;
}
.about{
    width:100%;
    height: 100vh;


    /* background-color: aqua; */
    padding-top: 40px;
}
.about-discription{
    width: 100%;
    margin: 20px auto;
    color: var(--text-colo);
    font-size: 0.90rem;
    font-weight: 300;

}
.rating{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
    padding: 30px;
    border-top: 1px solid #FFFFFF;
}
.namber>p{
    
    font-size: 3rem;
    font-weight: 700;
    background: #00FF88;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.grid{
    width: 100%;
    margin:  70px auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #1A0B2E;
    gap: 10px;
    
}
.video-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.featured{
    width: 100%;
}
.video-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.challange{
    width: 100%;
    margin: 0;
}
.host-contant{
    display: block;
    gap: 30px;
    border: none;
    text-align: center;

}
.icon-contant{
margin: auto;
}
.footer-container{
    width: 100%;
    
    background-image: url('assets/footer-bg.png');
    background-size: contain;
    background-position: center;
    display: inline-block;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
}
.icon-box{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;

}
.copy{
    padding-top: 10px;
    color: var(--text-colo);
    margin-top: 0px;
}
.icon-box{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}







}